// ---------Header---------
$toolbar-background:rgba(0, 0, 0, 0.5);
$header-background:rgba(0, 0, 0, 0.65);
$paralax-wrapper-backgroud:rgba(0, 0, 0, 0.65);


$text-primaryBlack:#2d2d2d;
$text-gray: #929596;
$text-white:#fff;
$text-red:#c7081b;
$text-red-shadow:#c7081bb3;
$text-redHover:#97000f;
$text-lightBlue:#acd6f0;
$text-brown:#6a4123;
$text-lightBrown:#ffeab3;
$text-lime:#b7cd56;
$text-after_gray:#777d82;
$benefits-promo-paralax-background: rgba(240, 240, 240, 0.95);
$benefits-promo-paralax-background-image:'https://s1.1zoom.ru/b5050/616/Russian_cars_Salons_LADA_442219_3840x2400.jpg';
$sales-information-paralax-background:'https://static.lada.ru/images/v6/cars/about/vesta/cross/Vesta_1920_02.jpg';
$footer-background:#2f2f2f;
$footer-grey:#999999;
$footer-icon-background:#646464;

$transition3:.3s;


$font-size10:10px;
$font-size13:13px;
$font-size14:14px;
$font-size15:15px;
$font-size34:34px;
$font-size20:20px;
$font-size25:25px;
$font-size30:30px;
$font-size40:40px;
$font-size45:45px;
$font-size50:50px;
$font-size60:60px;
$font-size65:65px;
$font-size70:70px;
$font-size75:75px;
$font-size85:85px;
$font-size95:95px;

$animation-time01:.1s;
$animation-time02:.2s;
$animation-time05:.5s;
$animation-time08:.8s;
$animation-time1:1s;
$animation-time2:2s;

$animation-delay01:.1s;
$animation-delay02:.2s;
$animation-delay03:.3s;
$animation-delay05:.5s;
$animation-delay1:1s;
$animation-delay1m:1.5s;
$animation-delay2:2s;
$animation-delay2m:2.5s;

$margin10:10px;
$margin10_0:10px 0;
$margin15:15px;
$margin20:20px;
$margin20_0:20px 0;
$margin_top5:5px;
$margin_top10:10px;
$margin_top20:20px;
$margin_top40:40px;
$margin_top50:50px;
$margin_top50_0:50px 0px;
$margin_top70:70px;

$padding5:5px;
$padding5_10:5px 10px;
$padding10_15:10px 15px;
$padding10:10px;
$padding15:15px;
$padding50_0:50px 0;
$padding70_0:70px 0;
$footer-padding:40px;
$footer-padding-mobile:30px;

$padding-right10: 10px;


$translateY:translateY(-35px);
// -------------------------


//----------find-car--------

$find-car-backgroud:#f0f0f0;
$separator-backgroud:#f0f0f0;
